/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:400 18px/1.2 "AvenirNext", Arial, sans-serif; background:#ffffff; color:#606060;
								  -webkit-font-smoothing: antialiased;
								  -moz-osx-font-smoothing: grayscale; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	list-style:none;
}
select, input, textarea        { font-size:18px; vertical-align:middle; }
textarea                       { vertical-align:top; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:18px "AvenirNext", Arial, sans-serif; color:#0089cb; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }


/*----------------------------------------------------------------------------------*/
/*--------------------------------------FONTS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'AvenirNext';
    src: url('../fonts/AvenirNext-Medium.woff') format('woff'),
         url('../fonts/AvenirNext-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNext';
    src: url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
         url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.input-style::-webkit-input-placeholder { color: #7d95b6; }
.input-style::-moz-placeholder { color: #7d95b6; }
.input-style:-ms-input-placeholder { color: #7d95b6; }
.input-style:-moz-placeholder { color: #7d95b6; }
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    min-height: 100%;
    background: #e1e1e1;
    padding: 20px;
}
.table-area {
    display: block;
    width: auto;
    max-width: 1020px;
    margin: 0 -10px;
}
.table-area-top,
.table-area-bottom {
    clear: both;
}
.table-area-top {
    overflow: hidden;
}
.table-wrap {
    padding: 0 10px;
    margin-bottom: 20px;
}
.table-area-bottom .table-wrap:last-child {
    margin-bottom: 0;
}
.table-box {
    overflow: hidden;
    background: #ffffff;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.table-wrap:not(:only-child):nth-child(odd) .table-box {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}
.table-wrap:nth-child(even) .table-box {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
}
.table-area-top .table-wrap {
    float: left;
    width: 500px;
    max-width: 50%;
    max-width: -webkit-calc(50% - 10px);
    max-width: -moz-calc(50% - 10px);
    max-width: calc(50% - 10px);
}
.table-area-top .table-wrap:nth-child(even) {
    width: 520px;
    max-width: 50%;
    max-width: -webkit-calc(50% + 10px);
    max-width: -moz-calc(50% + 10px);
    max-width: calc(50% + 10px);
}

.table-heading {
    display: table;
    width: 100%;
}
.table-heading:not(:last-child) {
    border-bottom: 2px solid #E1E1E1;
}
.table-heading > * {
    display: table-cell;
    padding: 22px 10px 21px;
    vertical-align: middle;
}
.table-heading > h2,
.table-heading > h3 {
    width: auto;
    padding-left: 40px;
    color: #0089cb;
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
}
.table-heading > .sort-arrows {
    width: 60px;
    text-align: center;
    cursor: pointer;
}
.sort-arrows .fa,
.sort-arrows .fas {
    display: block;
    color: #4E5C6E;
    font-size: 30px;
    line-height: 16px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.sort-arrows:hover .fa,
.sort-arrows:hover .fas {
    color: #0089cb;
}
.sort-arrows.up .sort-down,
.sort-arrows.down .sort-up{
    visibility: hidden;
}

.table-heading > .tabs {
    vertical-align: bottom;
    width: 50%;
}
.tabs {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 30px;
}
.tabs li {
    position: relative;
    display: inline-table;
    padding: 15px 4px 0;
}
.tabs li a {
    position: relative;
    display: table-cell;
    vertical-align: top;
    height: 56px;
    padding: 0 6px 4px;
    color: #7d95b6;
    text-decoration: none;
    font-size: 30px;
}
.tabs li.active a,
.tabs li a:hover,
.tabs li a:focus {
    color: #0089CB;
    text-decoration: none;
}
.tabs li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4px;
    background-color: transparent;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.tabs li.active a:after {
    background-color: #0089CB;
}

.table-box .table {

}
.table-box .thead {
    display: table;
    width: 100%;
    padding: 0 10px;
    background: #F9FBFC;
    border-bottom: 2px solid #E1E1E1;
}
.table-box .thead .th {
    display: table-cell;
    width: 33.33%;
    padding: 16px 0 16px 10px;
    vertical-align: middle;
    color: #8097b8;
    font-size: 25px;
    line-height: 1.1;
    text-align: left;
}
.table-box .thead .th span {
    font-size: 20px;
}
.table-box .tbody {
    max-height: 920px;
    overflow-y: auto;
}

.table table {
    width: 100%;
}
.table table tr:not(:last-child) {
    border-bottom: 2px solid #E1E1E1;
}
.table table td,
.table table th {
    width: 33.33%;
    vertical-align: middle;
    padding: 4px 10px 3px;
}
.table table td:first-child,
.table table th:first-child {
    padding-left: 20px;
}
.table table .red {
    color: #e05475;
}
.table table .blue {
    color: #0089cb;
}
.table table .broker {
    text-transform: uppercase;
}
.table table tr.insert {
    background: #E1E1E1;
    font-weight: 700;
    font-size: 22px;
    color: #4e5c6e;
}
.table table tr.insert td,
.table table tr.insert th {
    padding: 12px 40px;
    text-align: center;
}
.insert-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-evenly;
}

.orders-wrap {
    display: none;
    overflow: hidden;
    padding: 20px 0;
}
.orders-wrap.active {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.orders-wrap .half-box {
    padding: 0 20px;
}
.orders-wrap .half-box:not(:only-child) {
    float: left;
    position: relative;
    width: 50%;
}
.orders-wrap .half-box:not(:only-child):nth-child(odd) {
    clear: both;
    padding-left: 19px;
    border-right: 2px solid #E1E1E1;
    right: -1px;
}
.orders-wrap .half-box:nth-child(even) {
    padding-right: 19px;
    border-left: 2px solid #E1E1E1;
    left: -1px;
}
.orders-table {
    overflow: hidden;
    width: 100%;
}
.orders-table:not(:only-child) {
    margin-bottom: 20px;
}
.orders-table li {
    overflow: hidden;
    color: #606060;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.orders-table li:not(:last-child) {
    margin-bottom: 20px;
}
.orders-table li > div {
    float: left;
}
.orders-table li .title {
    width: 30%;
    min-height: 40px;
    font-size: 25px;
    line-height: 1;
    padding: 8px 4px 7px 0;
    word-break: break-all;
}
.orders-table li .input {
    position: relative;
    width: 70%;
}
.orders-table li .input-box {

}
.input-style {
    display: inline-block;
    max-width: 100%;
    height: 40px;
    padding: 8px 20px 7px;
    border: 2px solid #E1E1E1;
    background: #F9FBFC;
    font-size: 25px;
    line-height: 1;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
}
.input-style:focus {
    background: #ffffff;
}
.input-box .input-style {
    padding-right: 35%;
    padding-right: -webkit-calc(34% + 20px);
    padding-right: -moz-calc(34% + 20px);
    padding-right: calc(34% + 20px);
    color: #606060;
}
.input-box .input-style + span {
    position: absolute;
    display: inline-block;
    width: 34%;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 2px solid #E1E1E1;
    font-size: 25px;
    padding: 6px 8px;
    text-align: center;
}
.orders-bottom {
    width: 100%;
    margin-top: 50px;
    min-height: 150px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.orders-bottom:only-child {
    margin-top: 0;
    min-height: auto;
}
.btn,
a.btn {
    display: block;
    width: 100%;
    padding: 12px 15px 11px;
    max-width: 100%;
    color: #fffffd;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0089cb;
    cursor: pointer;
}
.btn.blue {
    background-color: #0089cb;
}
.btn.red {
    background-color: #ff007a;
}
.btn:hover,
.btn:focus {
    opacity: 0.8;
}

/*----------------------------------------------------------------------------------*/
/*-----------------------------------RESPONSIVE-------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media all and (max-width: 767px) {
    .table-area-top .table-wrap,
    .table-area-top .table-wrap:nth-child(even) {
        float: none;
        width: auto;
        max-width: none;
    }
    .table-wrap:not(:only-child):nth-child(odd) .table-box,
    .table-wrap:nth-child(even) .table-box {
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
    }

    .table-area-bottom .table-heading > * {
        display: block;
    }
    .table-area-bottom .table-heading > .tabs {
        width: 100%;
        padding: 0 10px 0 20px;
    }
    .table-area-bottom .tabs li {
        padding-top: 10px;
    }
    .table-area-bottom .table-heading > h2,
    .table-area-bottom .table-heading > h3 {
        padding-bottom: 5px;
    }
    .table-area-bottom .tabs li a {
        height: 44px;
        font-size: 26px;
    }
    .orders-wrap {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .orders-wrap.active {
        display: block;
    }
    .orders-wrap .half-box:not(:only-child) {
        float: none;
        width: 100%;
    }
    .orders-wrap .half-box:not(:last-child) {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid #E1E1E1;
    }
    .orders-bottom {
        min-height: auto;
    }
}
@media all and (max-width: 480px) {
    .table-heading > h2,
    .table-heading > h3 {
        padding-left: 20px;
    }
}